<div class="container-fluid" style="padding: 0;">
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid" style="padding: 0;">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #929fba;"
            >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="mb-4 font-weight-bold">
                ShopNBHK
            </h6>
            <p>
                Kính chúc Quý khách hàng năm Giáp Thìn 2024 gặp nhiều may mắn. Cảm ơn Quý khách đã tin tưởng và lựa chọn ShopNBHK. Happy new year!
            </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Sản Phẩm</h6>
            <p>
                <a class="text-white" href="#">Hoodie</a>
            </p>
            <p>
                <a class="text-white" href="#">Polo</a>
            </p>
            <p>
                <a class="text-white" href="#">Áo Thun</a>
            </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> TP.Hồ Chí Minh</p>
            <p><i class="fas fa-envelope mr-3"></i> NBHKshop.&#64;gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 84000000</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #3b5998"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

            </div>
        </div>
        <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2);"
        >
        © 2024 Copyright:
        <a class="text-white"
        >NBHK</a
        >
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
</div>