<div class="container-fluid">
    <nav class="header navbar navbar-expand-lg">
        <div class="container">
        <a class="navbar-brand" href="#">
            <div class="button">
                <div class="box">S</div>
                <div class="box">H</div>
                <div class="box">O</div>
                <div class="box">P</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link left" aria-current="page" href="#">Trang Chủ </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link left" aria-current="page" href="#">Liên Hệ </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link left" aria-current="page" href="#">Sản Phẩm Mới </a>
                </li>
                <li class="dropdown">
                  <button class="dropbtn">Dropdown <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                  </div>
              </li>
            </ul>
            <ul class="nav justify-content-end" >
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"><i class="bi bi-search"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-person"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-bag"></i></a>
                </li>
              </ul>
        </div>
        </div>
    </nav>
</div>