
<div class="container-fluid p-0">
    <div class="scrolling-text-container">
        <div class="scrolling-text-inner" style="--marquee-speed: 12s; --direction:scroll-right" role="marquee">
            <div class="scrolling-text">
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
            </div>
            <div class="scrolling-text">
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
                <div class="scrolling-text-item"><i class="bi bi-dot"></i> GIẢM GIÁ KHI MUA HÀNG VÀO DỊP GIÁNG SINH GIẢM 20% </div>
        </div>
    </div>
</div>
<!-- Slide -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="assets/image/banner-1.png" class="d-block w-100" alt="..." style="height: 650px;">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/image/banner-2.png" class="d-block w-100" alt="..." style="height: 650px;">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/image/banner-3.png" class="d-block w-100" alt="..." style="height: 650px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
  <br>

  <div class="container-fluid p-0">
    <div class="scrolling-text-container">
        <div class="scrolling-text-inner" style="--marquee-speed: 10s; --direction:scroll-left" role="marquee">
            <div class="scrolling-text">
                <div class="scrolling-text-item" style="font-size: 50px;"><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
                <div class="scrolling-text-item" style="font-size: 50px;"><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
                <div class="scrolling-text-item" style="font-size: 50px;" ><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
                <div class="scrolling-text-item" style="font-size: 50px;"><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
            </div>
            <div class="scrolling-text">
                <div class="scrolling-text-item" style="font-size: 50px;"><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
                <div class="scrolling-text-item" style="font-size: 50px;"><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
                <div class="scrolling-text-item" style="font-size: 50px;" ><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
                <div class="scrolling-text-item" style="font-size: 50px;"><i class="fa-solid fa-fire fa-flip-horizontal" style="color: red; font-size: 50px;"></i> TRENDING </div>
            </div>
    </div>
</div> <br>

  <!-- Item -->

  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
            <div class="card">
              <a class="link_details" >
                <img src="assets/Local/dress1.webp" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Áo Hoodie </h5>
                  <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                  <div style="color: #FEC9C3;">
                    <span style="font-size: 20px;">Đánh giá:</span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </div>
                </div>
              </a>
              <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                <button id="SP-10" data-name="Vali Larita Cetus HF8022" data-price="2250000" class=" add-to-cart cart_details-btn btn" type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
            <div class="card">
              <a class="link_details" href="#">
                <img src="assets/Local/jacket1.webp" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Áo Khoác </h5>
                  <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                  <div style="color: #FEC9C3;">
                    <span style="font-size: 20px;">Đánh giá:</span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </div>
                </div>
              </a>
              <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                <button id="SP-10" data-name="Vali Larita Cetus HF8022" data-price="2250000" class=" add-to-cart cart_details-btn btn" type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
            <div class="card">
              <a class="link_details" href="#">
                <img src="assets/Local/shirt2.webp" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Áo Polo </h5>
                  <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                  <div style="color: #FEC9C3;">
                    <span style="font-size: 20px;">Đánh giá:</span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </div>
                </div>
              </a>
              <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                <button id="SP-10" data-name="Vali Larita Cetus HF8022" data-price="2250000" class=" add-to-cart cart_details-btn btn" type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
            <div class="card">
              <a class="link_details" href="#">
                <img src="assets/Local/sweater1.webp" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Áo Thun </h5>
                  <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                  <div style="color: #FEC9C3;">
                    <span style="font-size: 20px;">Đánh giá:</span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </div>
                </div>
              </a>
              <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                <button id="SP-10" data-name="Vali Larita Cetus HF8022" data-price="2250000" class=" add-to-cart cart_details-btn btn" type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
              </div>
            </div>
        </div>
    </div>
  </div>
  