
<div class="card text-center" style="background-color: red; height: 500px; background: url(assets/image/banner-tshirt.png) no-repeat;">
    <div class="card-body" style="padding-top: 185px;">
    </div>
</div>
<br>
<nav aria-label="breadcrumb" style="display: flex; margin-right: 100px;margin-right: 1250px;"  >
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="h5" href="#">Trang Chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Áo Thun</li>
  </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt1.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-shirt Adidas Purple </h5>
                                <p class="card-text_price card-text"> Giá: 1.050.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt2.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-shirt LA Dodgers </h5>
                                <p class="card-text_price card-text"> Giá: 1.750.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt3.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-shirt DSW TEE </h5>
                                <p class="card-text_price card-text"> Giá: 320.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt4.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-shirt LIKE Popcorn </h5>
                                <p class="card-text_price card-text"> Giá: 799.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt5.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-shirt Teelab Cats </h5>
                                <p class="card-text_price card-text"> Giá: 350.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt6.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-shirt Bright White </h5>
                                <p class="card-text_price card-text"> Giá: 4.900.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt7.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-Shirt Gucci White </h5>
                                <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                    <div class="card">
                        <a class="link_details" href="#">
                            <img src="assets/Local/shirt8.webp" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">T-shirt Adidas Rich</h5>
                                <p class="card-text_price card-text"> Giá: 750.000₫</p>
                                <div style="color: #FEC9C3;">
                                    <span style="font-size: 20px;">Đánh giá:</span>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                            </div>
                        </a>
                        <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                            <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
 
           
    

