<div class="card" style="background-color: #ECD4EA; border: none; flex-direction: row;
justify-content: center;
resize: vertical;">
    <img src="assets/image/banner-product.jpg" class="card-img" alt="...">
    <div class="card-img-overlay text-center" style="padding-top: 248px;">
    </div>
</div>

<br>
<div style="display: inline-block; margin-top: 20px; margin-bottom: 20px; margin-left: 20px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="h5" href="#">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        </ol>
    </nav>
</div>


<div class="container" style="display: flex; justify-content: space-around; margin-bottom: 2rem;flex-wrap: wrap;">
    <!-- <div class="row" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: p }">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4" style="width: fit-content; height: fit-content;">
            <div class="card" style="width: 370px;height: 485px;">
                <a class="link_details">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name | uppercase}} </h5>
                        <p class="card-text_price card-text"> Giá: {{product.price | currency:'VND':'symbol'}}</p>
                        <div style="color: #FEC9C3;">
                            <span style="font-size: 20px;">Đánh giá:</span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                        </div>
                    </div> -->
    <div class="container" style="display: flex; justify-content: space-around; margin-bottom: 2rem;flex-wrap: wrap;">
        <div class="row" *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: p }">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4" style="width: fit-content; height: fit-content;">
                <div class="card">
                    <a class="link_details">
                        <img src="{{ product.image }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h6 class="card-title">{{product.name | upperCasePipe}} </h6>
                            <p class="card-text_price card-text"> Giá: {{product.price | currencyPipe}}</p>
                            <div style="color: #FEC9C3;">
                                <span style="font-size: 20px;">Đánh giá:</span>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </div>
                        </div>
                    </a>
                    <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                        <button id="SP-10" data-name="Vali Larita Cetus HF8022" data-price="2250000"
                            class=" add-to-cart cart_details-btn btn" type="button" id="liveToastBtn"
                            (click)="addToCart(product)">Thêm vào giỏ
                            hàng</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination Controls -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>

