<div class="container-fluid" style="padding: 0;">
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container-fluid" style="padding: 0;">
        
        <main class="mainContent-theme">
            <style>
                .row1{
                    margin-right: auto;

                }
            </style>

            <div id="collection" class="collection-page">
                <div class="container">
                    <div class="row1">
                        <ol class="breadcrumb breadcrumb-arrows">
                            <li>
                                <a href="">
                                    <span>Trang chủ</span>
                                </a>
                            </li>
                            <li>
                                <span>SẢN PHẨM</span>
                            </li>
                        </ol>
                    </div>
                    
                    <div style="height:152px; background:url(assets/image/image-introduce.jpg) no-repeat;">
                        <h1 style="color: white; text-align:center; padding-top: 40px;">Giới thiệu</h1>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wrap-collection-title">
                            <div class="sortby-col">
                                <div>
                                    <div class="col-t hidden-xs"> Sắp xếp theo </div>
                                    <div class="sortby-list">
                                        <div class="sortby-item tab-bot-item">
                                            <label for="sortby-best">
                                                Bán chạy
                                            </label>
                                        </div>
                                        <div class="sortby-item tab-bot-item">
                                            <label for="sortby-lasted">
                                                Mới Nhất
                                            </label>
                                        </div>
                                        <div class="sortby-item tab-bot-item">
                                            <a href="">
                                                " Giá "
                                                <svg>
                                                </svg>
                                            </a>
                                            <div class="sortby-price__dropdown">
                                                <div class="sortby-item">
                                                    <input type="radio">
                                                    <label for="sortby-price-asc">
                                                        "Giá : Tăng dần"
                                                    </label>
                                                </div>
                                                <div class="sortby-item">
                                                    <input type="radio">
                                                    <label for="sortby-price-asc">
                                                        "Giá : Giảm dần"
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container2">
                            <div class="row2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/dress1.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Hoodie </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/jacket1.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Khoác </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/shirt2.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Polo </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/sweater1.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Thun </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/shirt2.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Polo </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/shirt2.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Polo </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/shirt2.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Polo </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 pb-4">
                                            <div class="card">
                                                <a class="link_details" href="#">
                                                    <img src="assets/Local/shirt2.webp" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Áo Polo </h5>
                                                        <p class="card-text_price card-text"> Giá: 2.250.000₫</p>
                                                        <div style="color: #FEC9C3;">
                                                            <span style="font-size: 20px;">Đánh giá:</span>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="d-grid gap-2 col-6 mx-auto" style="width: 100%;">
                                                    <button id="SP-10" data-name="Vali Larita Cetus HF8022"
                                                        data-price="2250000" class=" add-to-cart cart_details-btn btn"
                                                        type="button" id="liveToastBtn">Thêm vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sortpagibar pagi clearfix text-center">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <a class="prev" href="#">
                                        <svg>

                                        </svg>
                                    </a>
                                    <a  class="page-node" href="#">1

                                    </a>
                                    <a class="page-node current" href="">2

                                    </a>
                                    <a class="page-node " >...

                                    </a>
                                    <a class="next" href="#">
                                        <svg>

                                        </svg>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-color: #A987A8;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="mb-4 font-weight-bold">
                                ShopNK
                            </h6>
                            <p>
                                Cảm ơn bạn, những khách hàng yêu quý và thân thiết của chúng tôi, đã trở thành một phần
                                quan trọng giúp công ty chúng tôi phát triển, thịnh vượng trong năm qua. Xin trân trọng
                                gửi tới bạn và gia đình có một Giáng sinh ấm áp và vui vẻ. Hy vọng bạn sẽ tiếp tục sự
                                ủng hộ công ty trong thời gian tới.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Sản Phẩm</h6>
                            <p>
                                <a class="text-white" href="#">Hoodie</a>
                            </p>
                            <p>
                                <a class="text-white" href="#">Polo</a>
                            </p>
                            <p>
                                <a class="text-white" href="#">Áo Thun</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Liên Hệ</h6>
                            <p><i class="fas fa-home mr-3"></i> TP.Hồ Chí Minh</p>
                            <p><i class="fas fa-envelope mr-3"></i> NKshop.&#64;gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 84000000</p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Theo dõi</h6>

                            <!-- Facebook -->
                            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!"
                                role="button"><i class="fab fa-facebook-f"></i></a>

                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Copyright:
                <a class="text-white">NK</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->
</div>