.me {
    padding-top: 50px;
}

.tm-login-col {
    max-width: 520px;
}

.tm-block {
    padding: 40px;
    -webkit-box-shadow: 1px 1px 5px 0 #455c71;
    -moz-box-shadow: 1px 1px 5px 0 #455c71;
    box-shadow: 1px 1px 5px 0 #455c71;
    min-height: 350px;
    height: 100%;
    max-height: 450px;
}

.tm-bg-primary-dark {
    background-color: #fff;
}

.tm-block-h-auto {
    min-height: 1px;
    max-height: none;
    height: auto;
}

.form-control {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.form-control:focus {
    background-color: white;
    color: black;
    border-color: transparent;
    box-shadow: 0 0 0 0.1rem rgb(180, 206, 233, 0.5);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: black;
    margin-bottom: 10px;
}