<section class="bg-light me">
    <div class="container pb-5">
        <div class="row">
            <div class="col-12 mx-auto tm-login-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="tm-block-title mb-4">Đăng Ký Người Dùng</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <p style="color:red">Thông Báo:</p>
                            <div class="form-group">
                                <label for="TenDN">Tên Đăng Nhập:</label>
                                <input name="TenDN" type="text" class="form-control validate" id="TenDN" value=""
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="MatKhau">Mật Khẩu:</label>
                                <input name="MatKhau" type="password" class="form-control validate" id="MatKhau"
                                    value="" required />
                            </div>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase"
                                    style="display:inline-block">
                                    Đăng Nhập
                                </button>
                            </div>
                            <div style="text-align: center;padding-top:30px">
                                Chưa Có Tài Khoản ? Hãy
                                <a href="">
                                    <input type="button" class="btn btn-primary btn-block text-uppercase"
                                        style="display:inline-block" value="Đăng Ký" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>