<!-- Body -->
<div style="height: 150px; background: url(assets/image/image-introduce.jpg) no-repeat; ">
    <h1 style="color: white; text-align: center; padding-top: 40px;">Giới Thiệu</h1>
</div>
<!-- footer -->
<div class="container-fluid" style="padding: 0;">
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid" style="padding: 0;">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #A987A8;"
            >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="mb-4 font-weight-bold">
                ShopNK
            </h6>
            <p>
                Cảm ơn bạn, những khách hàng yêu quý và thân thiết của chúng tôi, đã trở thành một phần quan trọng giúp công ty chúng tôi phát triển, thịnh vượng trong năm qua. Xin trân trọng gửi tới bạn và gia đình có một Giáng sinh ấm áp và vui vẻ. Hy vọng bạn sẽ tiếp tục sự ủng hộ công ty trong thời gian tới.
            </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Sản Phẩm</h6>
            <p>
                <a class="text-white" href="#">Hoodie</a>
            </p>
            <p>
                <a class="text-white" href="#">Polo</a>
            </p>
            <p>
                <a class="text-white" href="#">Áo Thun</a>
            </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Liên Hệ</h6>
            <p><i class="fas fa-home mr-3"></i> TP.Hồ Chí Minh</p>
            <p><i class="fas fa-envelope mr-3"></i> NKshop.&#64;gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 84000000</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Theo dõi</h6>

            <!-- Facebook -->
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #3b5998"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

            </div>
        </div>
        <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2);"
        >
        © 2024 Copyright:
        <a class="text-white"
        >NK</a
        >
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
</div>
