

<!-- Body -->
<div class="card text-center" style="background-color: red; height: 500px; background: url(assets/image/image-introduce.jpg) no-repeat;">
    <div class="card-body" style="padding-top: 185px;">
      <h1 class="card-title text-white" style="font-size: 100px; font-weight: bolder;">ShopNK</h1>
      <h6 class="card-text text-white">Tất cả những điều bạn muốn biết về ShopNK</h6>
      <a href="TrangChu">
        <button class="button" style="margin: auto; font-size: 10px;">
            <div class="bgContainer">
              <span style="padding-right: 8px;">Home</span>
              <span>Home</span>
            </div>
            <div class="arrowContainer">
              <svg
                width="25"
                height="25"
                viewBox="0 0 45 38"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M43.7678 20.7678C44.7441 19.7915 44.7441 18.2085 43.7678 17.2322L27.8579 1.32233C26.8816 0.34602 25.2986 0.34602 24.3223 1.32233C23.346 2.29864 23.346 3.88155 24.3223 4.85786L38.4645 19L24.3223 33.1421C23.346 34.1184 23.346 35.7014 24.3223 36.6777C25.2986 37.654 26.8816 37.654 27.8579 36.6777L43.7678 20.7678ZM0 21.5L42 21.5V16.5L0 16.5L0 21.5Z"
                  fill="black"
                ></path>
              </svg>
            </div>
          </button>
      </a>
    </div>
</div>
<br>
<nav aria-label="breadcrumb" style="display: flex; margin-right: 100px;margin-right: 1250px;"  >
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="h5" href="#">Trang Chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
  </ol>
</nav>
<div class="container text-center" style="margin-top: 50px;">
    <div class="row">
      <div class="col"  style="text-align: left;">
        <img src="assets/image/introduce-1.jpg" alt="" style="width: 523px; height:548px; border-radius: 50px;">
      </div>
      <div class="col" style="text-align: left;">
        <h2 style="color:#2f5acf;">CÂU CHUYỆN DỊCH VỤ KHÁCH HÀNG CỦA SHOPNK</h2>
        <p >Theo một khảo sát gần đây nhất của ShopNK tự thực hiện thì có tới 51% khách hàng quyết định mua sắm ở ShopNK vì ấn tượng với dịch vụ khách hàng. 94% khách hàng sẵn sàng giới thiệu ShopNK với những người khác.</p>

         <p>Ở ShopNK, chúng tôi tin rằng việc bán một gói hàng đó là bán cả một trải nghiệm mua sắm. ShopNK có kỳ vọng trở thành một thương hiệu điển hình về việc hướng tới khách hàng một cách sâu sắc tại Việt Nam. Với mong muốn góp một phần nhỏ thay đổi nhận thức của các doanh nghiệp trong việc mang tới những trải nghiêm tốt hơn cho khách hàng, đặc biệt trong lĩnh vực Thương Mại Điện Tử.</p>
            
        <p>ShopNK là thương hiệu đầu tiên và hiện tại vẫn là duy nhất có chính sách đổi trả MIỄN PHÍ và lên tới 60 ngày với bất cứ lý do gì. Chúng tôi đã xây dựng được việc đổi hàng và lấy hàng trả về tận nhà khách hàng, thậm chí chúng tôi thường xuyên gửi sản phẩm mới cho khách hàng trước khi cần thu hồi sản phẩm cũ về. Và điều vui mừng đó là gần đây đã có nhiều hơn các đơn vị vận chuyển chào dịch vụ này và phổ biến hơn ở các bạn bán hàng Online.</p>
      </div>
    </div>
</div>

<div style="margin-top: 100px;">
    <div  class="container-fluid" style="text-transform: uppercase; text-align: center; font-size: 40px; font-weight: 50px; background-color: #E981A4;height: 119px;
    line-height: 32px;
    padding-top: 10px; color: white;">Câu chuyện mô hình doanh nghiệp CÓ TRÁCH NHIỆM <br> <br> ShopNK đang hướng tới</div>
    <div class="container text-left" style="margin-top: 100px;">

<!-- Body -->
<div style="height:152px; background:url(assets/image/image-introduce.jpg) no-repeat;">
    <h1 style="color: white; text-align:center; padding-top: 40px;">Giới thiệu</h1>
</div>

<!-- footer -->
<div class="container-fluid" style="padding: 0;">
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid" style="padding: 0;">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #A987A8;"
            >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
        <!--Grid row-->

        <div class="row">
          <div class="col">
            <h2 style="text-transform: uppercase; color: #2f5acf; font-weight: 500;">#1. Với Khách Hàng</h2>
            <p >ShopNK kỳ vọng mang lại sản phẩm chất lượng hơn nhờ mô hình quản lý chuỗi cung ứng từ gốc (với ngành may mặc đó là từ sợi), ShopNK cũng có các đối tác ở quy mô toàn cầu, và chất lượng về nguyên liệu đạt tiêu chuẩn cao trong ngành may mặc, có thể so sánh với các thương hiệu lớn và lâu đời.</p>
    
             <p>Ngoài ra mô hình bán hàng trực tiếp (Ecommerce D2C) cho phép ShopNK được đầu tư nhiều hơn cho phần sản xuất thay vì phải liên tục cắt giảm giá vốn như các mô hình truyền thống! Thực tế khách hàng sẽ thấy được chất lượng các sản phẩm ShopNK đã cải thiện đáng kể trong năm gần đây và chắc chắn trong tương lai nữa.</p>
                
          </div>
          <div class="col" style="text-align: right;">
            <img src="assets/image/introduce-2.jpg" alt="" style="width: 523px; height:348px; border-radius: 50px;">
          </div>
        </div>
    <div class="container text-left" style="margin-top: 100px;">
        <div class="row">
          <div class="col">
            <img src="assets/image/introduce-3.jpg" alt="" style="width: 523px; height:348px; border-radius: 50px;">   
          </div>
          <div class="col" style="padding-top: 67px; padding-bottom: 67px;"         >
            <h2 style="text-transform: uppercase; color: #2f5acf; font-weight: 500; text-align: right;">#2. Với Nhân Viên ShopNK</h2>
            <p style="text-align: left;">ShopNK kỳ vọng sẽ xây dựng được một tổ chức cởi mở, một môi trường năng động với một văn hóa riêng (tham khảo văn hóa ShopNK). Và ở đó các bạn trẻ sẽ phát huy hết khả năng của mình, và nhận được những phần lương, thưởng xứng đáng. Ngoài lương thì các bạn nhân viên của ShopNK còn nhận được các ESOP (cổ phần thưởng) hàng năm nếu có đóng góp tốt.</p>       
          </div>
        </div>
    </div>
    <div class="container text-left" style="margin-top: 100px;">
        <div class="row">
          <div class="col">
            <h2 style="text-transform: uppercase; color: #2f5acf; font-weight: 500;">#3. Với Môi Trường</h2>
            <p >Dệt may là ngành gây ra ô nhiễm môi trường lớn thứ 2 trên thế giới chỉ sau ngành giấy. ShopNK đang cố gắng chuyển mình theo hướng “Substainability” - Thời trang bền vững hơn ở hiện tại và trong tương lai. Bằng chứng là dòng sản phẩm Excool với sợi Sorona thân thiện với môi trường hơn nhiều so với sợi Polyester thường. Dự án kết hợp với Cleandye, công nghệ nhuộm sạch, không nước cũng tạo ra các sản phẩm thân thiện hơn với môi trường. Với dòng các sản phẩm thể thao ShopNK hướng tới việc ứng dụng trên 50% sợi tái chế (Recycled Polyester) trong các dòng sản phẩm của mình trong năm 2022 và hướng tới 99% trong năm 2023 trở đi.</p>     
          </div>
          <div class="col" style="text-align: right;">
            <img src="assets/image/introduce-4.jpg" alt="" style="width: 523px; height:348px; border-radius: 50px;">
          </div>
        </div>
    </div>
    <div class="container text-left" style="margin-top: 100px;">
        <div class="row">
          <div class="col">
            <img src="assets/image/introduce-5.jpg" alt="" style="width: 523px; height:348px; border-radius: 50px;">   
          </div>
          <div class="col">
            <h2 style="text-transform: uppercase; color: #2f5acf; font-weight: 500; text-align: right;">#4. Với Cộng Đồng Xã Hội</h2>
            <p style="text-align:left;">ShopNK cố gắng mở rộng, tạo nhiều việc làm và đóng thuế đầy đủ như một phần đóng góp cho sự phát triển chung của xã hội.
                Quan điểm của ShopNK về việc làm các hoạt động đóng góp cho cộng đồng:
                “Một doanh nghiệp không cần phải lớn, mới có thể làm điều ý nghĩa”. Chính vì vậy ShopNK đã mở ra dự án Care & Share với mục tiêu góp phần hỗ trợ cho các trẻ em khó khăn ở Việt Nam ngay từ khi mới thành lập công ty được 1 năm. Chắc chắn trong thời gian tới sẽ được đẩy mạnh hơn và hỗ trợ được nhiều hơn.</p>       
          </div>
        </div>
    </div>

<br>    

